
* {
    margin: 0;
    padding: 0; 
    
    box-sizing: border-box;
    
    
    
}

.header {
    background-image: url(images/icons/Slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1111px;
    margin: 0 auto;
    
    
}

.header-line {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-severge {
    margin-top: 188px;
    max-width: 590px;
}

.mini-text{
    margin-bottom: 44px;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.main-text {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0px;
    text-align: left;
    color: aliceblue;

}

.under-main-text {
    margin-top: 90px;
    margin-bottom: 68px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    flex-shrink: 400;
    color: white;
    line-height: 26px;

}

.mini-text-two {
    
    color: #FFD723;
    font-family: 'Poppins', sans-serif;


    font-family: FontAwesome;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

}

.brends-container {
    position: absolute;
    left: 560px;
    top: 850px;
    width: 1276px;
    height: 227px;
    color: rgb(59, 94, 124);
    background: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 10px 5px 5px black;
    
}

.brends-leaner {

    display: flex;
    justify-content: space-between;
    padding: 60px 166px 54px 65px;
}

.body-info {
    margin-top: 200px;
    height:700px;
}

.main-info-text {
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0px;
    width: 607px;
    height: 92px;


}
.info-leaner {
    display: flex;
    justify-content: space-between;
}

.info-column {
    width: 255px;
    height: 309px;
    position: relative;

}

.info-column-main-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    color: #4D533C;
    margin-bottom: 20px;
}

.info-column-severge-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    
    color: #21384299;

    
}

.info-column-read {
    position: absolute;
    bottom: 117px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFD723;

}

.started-block {
    width: 1500px;
    height: 362px;
    background: rgb(236, 248, 209);
    position: absolute;
    margin-top: 90px;
    
}

.started-column {
    width: 821px;
    height: 221px;
    
    margin-left: 360px;
    margin-top: 70px;
    position: relative;
}

.started-text {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D533C;
    margin-bottom: 50px;

}

.started-under-text {

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;


}

.back-down {
    background: url(images/images/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}



.back-contact {
    width: 452px;
    height: 88px;


    padding-top: 310px;
    display: flex;
    justify-content: space-between;
}

.back-leaner-one{
    width: 1110px;
    height: 1px;
    margin-top: 102px;
    background: #5D6544;
}
.contact {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #B6C197;
}

.info-contact {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.back-inform {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.main-inform {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.first-text, .two-text, .three-text, .four-text, .five-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #B6C197;

}


.inform-column-mail{
    max-width: 245px;
    max-height: 232px;
    line-height: 20px;
}



.email-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;

}

.back-header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #B5C096;

}